.contact-view
  margin-top: 10em

  .contact
    max-width: 550px


  input[type="text"]
    border: 1px solid $border-color
    border-radius: 4px
    -webkit-box-shadow: none
    box-shadow: none
    width: 100%

  textarea
    border: 1px solid $border-color
    border-radius: 4px
    -webkit-box-shadow: none
    box-shadow: none
    max-width: 100%
    width: 100%

  input[type="text"],textarea
    &:hover,&:active,&:focus
      outline: none
      -webkit-box-shadow: none
      box-shadow: none
      outline: 0
      border-color: $border-color


  .btn-default
    background-color: $light-blue
    border-color: $light-blue
    color: $white
    padding: 0em 1em
    height: 38px

    &:hover
      background-color: $light-blue-hover
      border-color: $light-blue-hover
