.jumbo
  background-image: url(image-path('jumbo-compressor.jpg'))
  height: 75vh
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: 2em
  background-position: 0% 165%
  background-attachment: fixed

.overview
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee
  padding: 0.5em 0em
  margin: 3em auto 3em auto
  max-width: 700px

  .overview-list
    width: 100%
    li
      float: left

    .sort
      float: right

      .glyphicon
        margin-left: 1em
        font-size: 1em


  &::after,&::before
    clear: both
    display: table
    content: ""

  .nav
    li
      a
        color: #777

        &:hover
          background-color: transparent
          color: #333
