.jumbo
  background-image: url(image-path('jumbo-compressor.jpg'))
  height: 50vh
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: 2em
  background-position: 0% 100%
