.navbar
  padding: 0.5em 0em
  border: none
  margin: 0
  background-color: white
  ul
    li
      a
        color: #333
        text-decoration: none
        font-size: 1.2em


  .navbar-brand
    font-weight: bold
    text-transform: uppercase

  .navbar-collapse
    border: none
