.navbar
  padding: 0.5em 0em
  border: none
  margin: 0
  background-color: white
  ul
    margin: 0
    padding: 0

    li
      display: inline-block
      margin: 0 0 0 1em

      &:first-child
        margin-left: 0em

      a
        color: #333
        text-decoration: none
        font-size: 1.2em
