.products-view
  margin-top: 10em
  margin-bottom: 10em

  h1
    margin-bottom: 1em

  .bold
    font-weight: bold
    margin-bottom: 5px

  .product
    padding-bottom: 5px
    .info-field

    .image-prices

    .name-field

    .description-field

  .edit-field
    float: left
    p
      display: inline-block
      margin-left: 1em

      &:first-of-type
        margin: 0

    .new-product
      float: right
