.sidebar
  width: 300px
  position: fixed
  height: 100vh
  background: pink
  left: -328px
  top: 0
  margin-top: 56px
  border-right: 1px solid #e8e8e8
  padding: 1em
  transition: 0.2s ease

  h2
    text-align: center
