@import "sections/base.sass"
@import "sections/nav.sass"
@import "sections/jumbo.sass"
@import "sections/content.sass"
@import "sections/about.sass"
@import "sections/footer.sass"


body
  font-family: raleway, sans-serif
  box-sizing: border-box

  .col
    padding-bottom: 15px

  .container
    padding-right: 20px
    padding-left: 20px
