// @import "sections/base.sass"
// @import "sections/nav.sass"
// @import "sections/jumbo.sass"
// @import "sections/content.sass"
// @import "sections/about.sass"
// @import "sections/footer.sass"

body
  font-family: raleway, sans-serif
  box-sizing: border-box
  padding-bottom: 77px
  min-height: 100vh
  position: relative
  font-size: 1.5em

img
  max-width: 100%
  height: auto

.menu
  overflow-x: hidden
  position: relative
  left: 0
  transition: 0.2s ease

.container
  min-height: 100%

.menu-open
  padding-left: 328px

.menu-open .sidebar
  left: 0

// .menu-open .hamburger
//   left: 250px

.pad-bot
  padding-bottom: 30px
  
.container
  padding-right: 20px
  padding-left: 20px

.show
  padding-top: 8em

  strong
    display: block
    margin-bottom: 5px
