<div class="product-reviews">
    <% @comments.each do |comment| %>
      <hr>
      <p class="comment-user-name"><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
      <p><%= comment.body %></p>
      <div class="rated" data-score="<%= comment.rating %>"></div>

    <% end %>
</div>
