<div class=" grid-item"style="overflow: hidden;">
  <!-- col col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
  <div class="products ">
  <p><%= image_tag(product.image_url, :class => "img-responsive") %></p>
  <div class="product-overlay">
    <%=link_to product.name,product  %>
  </div>
  <!-- <div class="row clearfix">
    <div class="info-field">
      <p class="name col col-md-8 col-xs-8"><%= product.name %></p>
      <p class="price col col-md-4 col-xs-4"><%= number_to_currency product.price %></p>
    </div>
  </div> -->
</div>
</div>
