<!-- <p id="notice"><%= notice %></p> -->
<div class="container products-view">
  <h1>Products</h1>
  <div class="overview">
    <ul class="nav navbar-nav overview-list link-group sort-link-group">
      <li>
        <a class="sort is-checked " data-category="all">All</a>
      </li>
      <li>
        <a class="sort" data-category="House">Outdoor</a>
      </li>
      <li>
        <a class="sort" data-category="Poster">Books & Posters</a>
      </li>
      <li>
        <a class="sort" data-category="Clock">Clocks</a>
      </li>
      <li>
        <a class="sort" data-category="Flower">Flowers</a>
      </li>
    </ul>
  </div>
  <%= render 'sidebar' %>
 <!-- <div id="sorts" class="button-group">
  <button class="button" data-sort-by="name">Name</button>
  <button class="button" data-sort-value="category">Category</button>
</div>  -->
  <div class="grid transitions-enabled">
    <div class="grid-sizer"></div>
    <% @products.each do |product| %>
      <% cache(cache_key_for_products) do %>
        <%= render product %>
      <% end %>
    <% end %>
    </div> <!-- end row -->
</div>
