<%= render 'static_pages/nav' %>
 <%= render 'static_pages/sidebar' %>
<!-- <p id="notice"><%= notice %></p> -->
<div class="container products-view">
  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
    </div> <!-- end row -->
</div>
