<!DOCTYPE html>
<html>
<%= render 'static_pages/head' %>
<body class="menu" >
  <%= render 'static_pages/nav' %>
  <%= yield %>
  <%= render 'static_pages/footer' %>

  <script>
document.addEventListener("turbolinks:load", function() {
    setTimeout(function(){
      $('.notice,.alert').fadeOut(500);
    }, 1000);
  });
  </script>
</script>
  <script>
document.addEventListener("turbolinks:load", function() {
        $(".dropdown-toggle").dropdown();
    });
  </script>
</body>
</html>
