<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="container">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</nav>
<div class="jumbo u-max-full-width">

</div>
<div class="container">
  <%= yield %>

  <footer>
    &copy; 2015 Bike Berlin
  </footer>

</div>
</body>
</html>
